{% load static %}

<!--<a target="_blank" href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=3bcjya8p">-->
    <!--<img src="{% static 'img/img_ad_banner.jpg' %}">-->
<!--</a>-->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad-banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7751395790281530"
     data-ad-slot="3133652734"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
