{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}"/>
    <title>后台管理</title>
</head>
<body>
<div class="ui inverted huge borderless fixed fluid menu">
    <a class="header item" href="{% url 'myadmin:index' %}">
        <img src="{% static 'img/logo.png' %}" id="logo">后台管理
    </a>
    <div class="right menu">
        <a class="item" href="{% url 'home' %}" target="_blank">前台首页</a>
        <a class="item" href="{% url 'myadmin:index' %}">后台首页</a>
        <a class="item">{{ user }}</a>
        <a class="item" href="{% url 'myadmin:logout' %}">退出</a>
    </div>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column" id="sidebar">
            <div class="ui secondary vertical fluid menu">
                <a class="item" href="{% url 'myadmin:index' %}" id="index">总览</a>
                <div class="ui divider"></div>
                <a class="item" href="{% url 'myadmin:video_list' %}" id="video_list">视频列表</a>
                <a class="item" href="{% url 'myadmin:video_add' %}" id="video_add">添加视频</a>
                <div class="ui divider"></div>
                <a class="item" href="{% url 'myadmin:classification_list' %}" id="classification_list">分类列表</a>
                <a class="item" href="{% url 'myadmin:classification_add' %}" id="classification_add">添加分类</a>
                <div class="ui divider"></div>
                <a class="item" href="{% url 'myadmin:user_list' %}" id="user_list">用户列表</a>
                <a class="item" href="{% url 'myadmin:user_add' %}" id="user_add">添加用户</a>
                <div class="ui divider"></div>
                <a class="item" href="{% url 'myadmin:comment_list' %}" id="comment_list">评论列表</a>
                <div class="ui divider"></div>
                <a class="item" href="{% url 'myadmin:subscribe'  %}" id="subscribe">订阅通知</a>
                <a class="item" href="{% url 'myadmin:feedback_list'  %}" id="feedback_list">用户反馈</a>
            </div>
        </div>
    </div>
    <div class="column" id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
</div>

{% block modal %}
{% endblock modal %}
<script src="https://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="{% static 'js/myadmin/admin_nav.js' %}"></script>
{% block javascript %}
{% endblock javascript %}


</body>
</html>
