{% extends 'myadmin/base.html' %}
{% load static %}

{% block content %}

<div class="ui grid">
    <div class="row">
        <h3>总览</h3>
    </div>
    <div class="ui divider"></div>
    <div class="row">

        <div>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <div class="ui tiny statistics">
                <div class="statistic">
                    <div class="value">{{ video_count }}</div>
                    <div class="label">视频数</div>
                </div>
                <div class="statistic">
                    <div class="value">{{ video_has_published_count }}</div>
                    <div class="label">发布中</div>
                </div>
                <div class="statistic">
                    <div class="value">{{ video_not_published_count }}</div>
                    <div class="label">未发布</div>
                </div>
            </div>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <div class="ui tiny statistics">
                <div class="statistic">
                    <div class="value">{{ user_count }}</div>
                    <div class="label"> 用户数</div>
                </div>
                <div class="statistic">
                    <div class="value">{{ user_today_count }}</div>
                    <div class="label">今日新增</div>
                </div>
            </div>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <div class="ui tiny statistics">
                <div class="statistic">
                    <div class="value">{{ comment_count }}</div>
                    <div class="label">评论数</div>
                </div>
                <div class="statistic">
                    <div class="value">{{ comment_today_count }}</div>
                    <div class="label">今日新增</div>
                </div>
            </div>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <h4>
                {% if not user.is_superuser %}
                {{user}}权限：查看数据、搜索数据。暂无编辑和删除数据权限。
                <br/>下载代码后，可自行添加超级用户，即可使用全部功能权限。
                <br/>添加方法：python3 manage.py createsuperuser
                <br/>如有问题，可咨询开发者（weixin id: java2048）
                {% endif %}
            </h4>

        </div>

    </div>
</div>

{% endblock content %}

