{% extends 'myadmin/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="ui grid">
    <div class="row">
        <h3>订阅通知</h3>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="v-form-wrap">
            <div class="ui small input focus">
                <input type="text" id="video_id" required placeholder="请输入视频id">
            </div>
            <h4>
                <div class="ui tiny primary button" id="send-mail" video-id="{{video_id}}">通知订阅用户</div>
            </h4>
            <div id="send-mail-progress"></div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascript %}
<script>
    var api_send_mail = "{% url 'myadmin:subscribe' %}";
</script>
<script src="{% static 'js/myadmin/send_mail.js' %}?v=10"></script>
{% endblock javascript %}

