{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<h3 class="ui header">我的收藏</h3>
<div class="ui unstackable items">

    {% for item in video_list %}
    <div class="item">
        <div class="ui tiny image">
            {% thumbnail item.cover "300x200" crop="center" as im %}
            <img class="ui image" src="{{ im.url }}">
            {% empty %}
            {% endthumbnail %}
        </div>
        <div class="middle aligned content">
            <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>
        </div>
    </div>
    {% empty %}
    <h3>暂无数据</h3>
    {% endfor %}

</div>


{% if is_paginated %}
<div class="video-page">
    <div class="ui borderless pagination menu">
        {% if page_obj.has_previous %}
        <a class="item" href="?page={{ page_obj.previous_page_number }}"><i class="left arrow icon"></i></a></a>
        {% endif %}
        {% for i in page_list %}
        {% if page_obj.number == i %}
        <a class="active item">{{ i }}</a>
        {% else %}
        <a class="item" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a class="item" href="?page={{ page_obj.next_page_number }}"><i class="icon right arrow"></i></a>
        {% endif %}
    </div>
</div>
{% endif %}


{% endblock content %}


